<html>
<head>
    <title> ConectIn </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        body {
            background-color: #EADFEC;
        }

        nav {
            margin-bottom: 20px;
        }

        .row {
            display: flex;
            flex-direction: row;
        }

        .form-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            justify-content: flex-end;
        }

        .photo-container {
            flex: 1;
            justify-content: flex-start;
        }

        .navbar {
            background-color: #583B57 !important;
        }

        .btn-primary {
            background-color: #583B57;
        }

        .btn-primary:hover {
            background-color: #5C0029;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary"><a class="navbar-brand" href="#">ConectIn</a></nav>
    <div class="container">
        <div class="alert alert-danger" role="alert" id="error-group" style="display: none">
            <!-- <ul id="errors"></ul> -->
            {{#errors}}
            <ul>
                <li>{{msg}}</li>
            </ul>
            {{/errors}}
        </div>
        <div class="row">
            <div class="col-sm col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <h3>Log In To ConectIn!</h3>
                <form action="/login" method="POST">
                    <div class="form-group"><input class="form-control" type="text" name="name" id="name" placeholder="Name"></div>
                    <div class="form-group"><input class="form-control" type="email" name="email" id="email" placeholder="Email"></div>
                    <div class="form-group"><input class="form-control" type="password" name="password" id="password" placeholder="Password"></div>
                    <div class="form-group"><button class="form-control btn btn-primary" type="submit" id="login-btn">Log in</button></div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- <script src="/script.js"></script> -->
</body>
</html>